<%- include("include/_adminHeader") -%>

<!-- Main Content -->

<h1>Admin - Stats</h1>

<div id="statstable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Statistic</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Computers Donated</td>
        <td id="computersDonated"><input type="text" value="<%= stats[0].computersDonated %>"></td>
      </tr>
      <tr>
        <td>Phones Donated</td>
        <td id="phonesDonated"><input type="text" value="<%= stats[0].phonesDonated %>"></td>
      </tr>
      <tr>
        <td>Monitors Donated</td>
        <td id="monitorsDonated"><input type="text" value="<%= stats[0].monitorsDonated %>"></td>
      </tr>
      <tr>
        <td>Devices Collected</td>
        <td id="devicesCollected"><input type="text" value="<%= stats[0].devicesCollected %>"></td>
      </tr>
      <tr>
        <td>Total Donation Value</td>
        <td id="totalDonationValue"><input type="text" value="<%= stats[0].totalDonationValue %>"></td>
      </tr>
    </tbody>
  </table>
</div>

<button id="updateStats" class="btn btn-primary">Update Stats</button>

<script src="/js/stats.js"></script>