<%- include('include/_header') -%>
<!-- Individual Blog Post Page -->
<main class="read-blog-main">
  <section class="blog-post-section">
    <h1 class="blog-post-title"><%= blog.title %></h1>
    <h4 class="blog-post-date"><%= new Date(blog.date).toLocaleDateString() %></h4>
    <% if (blog.image) { %>
      <img src="data:image/png;base64,<%= blog.image.imageData ? blog.image.imageData.toString('base64') : '' %>" alt="<%= blog.image.filename || 'Blog Image' %>" class="blog-post-image" />
    <% } %>
    <div class="blog-post-content">
      <p><%= blog.content.replace(/\n/g, '<br>') %></p>
    </div>
    <% if (blog.partners && blog.partners.length > 0) { %>
      <div class="blog-partners">
        <h3>Partners Involved:</h3>
        <ul>
          <% blog.partners.forEach(partner => { %>
            <li><a href="<%= partner.url %>"><%= partner.name %></a></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  </section>
  <section class="back-to-blogs">
    <a href="/blog" class="btn">Back to Blog List</a>
  </section>
</main>
<%- include('include/_footer') -%>
